@page "/machineDetails"

<Header />
<div class="border rounded-3 d-inline-block mt-3">
    <NavLink href="/machines" class="d-block p-1">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAeUlEQVR4nO3XQQrCMBCF4e8MWkrvErLw/oeRWlxXChHEVRd1hHT+C/zJ42WY0BEjrtHSigfukfKKBStmXCKkpd10kz5xS+mRZLw/pWR7u4t3+JAubSzqWvy3qN+kfM3YBVKy7c72zuvXejtEy+d2gO1HEcqIKVq6mxcYKlU4XwQ2VAAAAABJRU5ErkJggg==" alt="back">
    </NavLink>
</div>
<div class="container mt-4 d-flex flex-column">
    <h2 class="text-center fw-bold">@machine.Name</h2>
    <div class="card border rounded shadow-sm text-decoration-none w-100">
        @* image carousel *@
        <div id="plansCarousel" class="carousel slide">
            <div class="carousel-inner">
                @for (int i = 0; i < machine.ImageUrls.Length; i++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="card home-card">
                            <div class="card-body">
                                <img src="@machine.ImageUrls[i]" id="detailImage" class="card-img-top p-2" alt="@machine.Name">
                            </div>
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#plansCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#plansCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        @* carousel end *@

        <div class="card-body text-center p-2">
            <p class="fw-bold mb-0">@machine.Description</p>
        </div>
    </div>
</div>

<Navbar />

@code {
    [Parameter]
    public int Id { get; set; }

    private class Machine
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Description { get; set; }
        public string[] ImageUrls { get; set; }
    }

    private Machine machine = new Machine
    {
        Id = 1,
        Name = "Treadmill",
        Description = "This is a treadmill.",
            ImageUrls = ["https://example.com/treadmill.jpg", "https://example.com/treadmill.jpg"]
    };
}
