@page "/machineDetails/{Id:int}"
@using SlimFitGym_Mobile.Models
@inject IJSRuntime JS
@*@inject Machines Machines*@

<Header />

<div class="rounded-3 d-inline-block mt-3 lighter-dark">
    <NavLink href="/machines" class="d-block p-1">
        <img class="invert" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAeUlEQVR4nO3XQQrCMBCF4e8MWkrvErLw/oeRWlxXChHEVRd1hHT+C/zJ42WY0BEjrtHSigfukfKKBStmXCKkpd10kz5xS+mRZLw/pWR7u4t3+JAubSzqWvy3qN+kfM3YBVKy7c72zuvXejtEy+d2gO1HEcqIKVq6mxcYKlU4XwQ2VAAAAABJRU5ErkJggg==" alt="back">
    </NavLink>
</div>

<div class="container mt-4 d-flex flex-column overflow-auto mb-5 pb-5">
    <h2 class="text-center fw-bold border-bottom">@machine.Name</h2>
    <div class="card rounded text-decoration-none w-100 lighter-dark">
        <div id="machineCarousel" class="carousel slide lighter-dark" data-bs-touch="true" data-bs-interval="false">
            <div class="carousel-inner lighter-dark">
                @if (machine.ImageUrls.Any())
                {
                    @for (int i = 0; i < machine.ImageUrls.Length; i++)
                    {
                            <div class="carousel-item @(i == 0 ? "active" : "") lighter-dark">
                                <div class="card home-card lighter-dark">
                                <div class="card-body lighter-dark">
                                    <img src="@machine.ImageUrls[i]" id="detailImage" class="card-img-top p-2" alt="@machine.Name">
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="card-body text-center p-2 lighter-dark">
            <p class="fw-bold mb-0">@machine.Description</p>
        </div>
    </div>
</div>

<Navbar />

@code {
    [Parameter]
    public int Id { get; set; }

    private MachineModel machine;

    protected override void OnInitialized()
    {
        machine = MachineModel.machines.FirstOrDefault(m => m.Id == Id);
        //machine = Machines.machines.FirstOrDefault(m => m.Id == Id);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeCarousels");
        }
    }
}
